<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.thesky341.bbsforum.mapper.CategoryMapper">
    <insert id="addCategory" parameterType="category" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO category VALUE (
            NULL, #{name}, #{introduction}, NOW(), NULL
            )
    </insert>
    <delete id="deleteCategoryById">
        DELETE FROM category WHERE id = #{id}
    </delete>
    <select id="getCategoryById" resultMap="categoryMap">
        SELECT id, name, introduction
        FROM category WHERE id = #{id}
    </select>
    <select id="getAllCategory" resultMap="categoryMap">
        SELECT id, name, introduction
        FROM category
    </select>

    <resultMap id="categoryMap" type="category">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="introduction" property="introduction"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>
</mapper>