<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.thesky341.bbsforum.mapper.CharaMapper">
    <insert id="addChara" parameterType="chara" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO chara VALUE (
                NULL, #{name}, NOW()
            )
    </insert>
    <delete id="deleteCharaById">
        DELETE FROM chara WHERE id = #{id}
    </delete>
    <select id="getCharaById" resultMap="charaMap">
        SELECT *
        FROM chara WHERE id = #{id}
    </select>
    <select id="getGeneralChara" resultMap="charaMap">
        SELECT *
        FROM chara WHERE name = "general"
    </select>
    <select id="getCharaByName" resultMap="charaMap">
        SELECT *
        FROM chara WHERE name = #{name}
    </select>

    <resultMap id="charaMap" type="chara">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
</mapper>