<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.thesky341.bbsforum.mapper.CommentMapper">
    <insert id="addComment" parameterType="comment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment VALUE (
            NULL, #{content}, NOW(), NULL, #{user.id},
            #{post.id}, #{hidden}, 0
            )
    </insert>
    <insert id="deleteCommentById">
        DELETE FROM comment WHERE id = #{id}
    </insert>
    <update id="updateContent">
        UPDATE comment
        SET content = #{content},
            modify_time = NOW()
        WHERE id = #{id}
    </update>
    <select id="getCommentById" resultMap="commentMap">
        SELECT *
        FROM comment WHERE id = #{id}
    </select>
    <select id="getCommentByUserId" resultMap="commentMap">
        SELECT *
        FROM comment WHERE user_id = #{userId}
    </select>
    <select id="getCommentByPostId" resultMap="commentMap">
        SELECT *
        FROM comment WHERE post_id = #{postId} AND is_hidden = 0 AND is_deleted = 0
    </select>
    <select id="getCommentSumByPostId" resultType="integer">
        SELECT COUNT(*)
        FROM comment
        WHERE post_id = #{postId} AND is_hidden = 0 AND is_deleted = 0
    </select>

    <resultMap id="commentMap" type="comment">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="is_hidden" property="hidden"/>
        <result column="is_deleted" property="deleted"/>
        <association column="user_id" property="user"
                     javaType="user"
                     select="top.thesky341.bbsforum.mapper.UserMapper.getUserById"
        />
        <association column="post_id" property="post"
                     javaType="post"
                     select="top.thesky341.bbsforum.mapper.CategoryMapper.getCategoryById"
        />
    </resultMap>
</mapper>