<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.thesky341.bbsforum.mapper.PostMapper">
    <insert id="addPost" parameterType="post" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post VALUE (
            NULL, #{title}, #{content}, NOW(),
            NULL, #{user.id}, #{category.id},
            #{hidden}, 0, 0,
            0, #{reward}
        )
    </insert>
    <update id="revisePost" parameterType="post">
        UPDATE post
        SET title = #{title},
            content = #{content},
            category_id = #{category.id},
            is_hidden = #{hidden},
            reward = #{reward},
            modify_time = NOW()
        WHERE id = #{id}
    </update>
    <delete id="deletePostById">
        DELETE FROM post
        WHERE id = #{id}
    </delete>
    <select id="getPostById" resultMap="postMap">
        SELECT *
        FROM post WHERE id = #{id} AND is_hidden = 0 AND is_deleted = 0
    </select>
    <select id="getPostByUserId" resultMap="postMap">
        SELECT *
        FROM post WHERE user_id = #{userId}
    </select>

<!--    得到帖子的数量-->
<!--    可以用于主页，具体分类的帖子列表，用户帖子列表数-->
    <select id="getPostSum" resultType="integer">
        SELECT COUNT(*) FROM post
        WHERE is_deleted = 0
        <if test="categoryId != -1">
            AND category_id = #{categoryId}
        </if>
        <choose>
            <when test="userId == -1">
                AND is_hidden = 0
            </when>
            <when test="userId != -1">
                AND user_id = #{userId}
            </when>
        </choose>
    </select>
<!--    可以用于主页，具体分类的帖子列表-->
    <select id="getPostTopSum" resultType="integer">
        SELECT COUNT(*) FROM post
        WHERE is_top = 1 AND is_hidden = 0 AND is_deleted = 0
        <if test="categoryId != -1">
            AND category_id = #{categoryId}
        </if>
    </select>

    <select id="getPostListByPagination" resultMap="postMap">
        SELECT *
        FROM post
        WHERE is_hidden = 0 AND is_deleted = 0
        <if test="categoryId != -1">
            AND category_id = #{categoryId}
        </if>
        <if test="userId != -1">
            AND user_id != #{userId}
        </if>
        <if test="top != -1">
            AND is_top = #{top}
        </if>
        ORDER BY create_time DESC
        LIMIT #{from}, #{num}
    </select>


    <resultMap id="postMap" type="post">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="is_hidden" property="hidden"/>
        <result column="is_deleted" property="deleted"/>
        <result column="is_excellent" property="excellent"/>
        <result column="is_top" property="top"/>
        <result column="reward" property="reward"/>
        <association column="user_id" property="user"
                     javaType="user"
                     select="top.thesky341.bbsforum.mapper.UserMapper.getUserById"
        />
        <association column="category_id" property="category"
                     javaType="category"
                     select="top.thesky341.bbsforum.mapper.CategoryMapper.getCategoryById"
        />
    </resultMap>
</mapper>