<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.thesky341.bbsforum.mapper.UserCommentStateMapper">

    <delete id="deleteUserCommentStateById">
        DELETE FROM user_comment_state
        WHERE id = #{id}
    </delete>
    <select id="getrUserCommentStateById" resultMap="userCommentStateMap">
        SELECT *
        WHERE id = #{id}
    </select>

    <select id="getUserCommentStateSum" resultType="integer">
        SELECT COUNT(*)
        FROM user_comment_state
        WHERE comment_id = #{commentId} AND state = #{state}
        <if test="userId != -1">
            AND user_id = #{userId}
        </if>
    </select>

    <insert id="addUserCommentState" parameterType="userCommentState" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_comment_state VALUE (
            NULL, #{user.id}, #{comment.id}, #{state}
            )
    </insert>

    <resultMap id="userCommentStateMap" type="userCommentState">
        <id column="id" property="id"/>
        <result column="state" property="state"/>
        <association column="user_id" property="user"
                     javaType="user"
                     select="top.thesky341.bbsforum.mapper.UserMapper.getUserById"
        />
        <association column="comment_id" property="comment"
                     javaType="comment"
                     select="top.thesky341.bbsforum.mapper.CommentMapper.getCommentById"
        />
    </resultMap>
</mapper>