<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.thesky341.bbsforum.mapper.UserMapper">
    <insert id="addUser" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user VALUE (
            NULL, #{username}, #{email}, #{passwd}, #{salt},
            NULL, NULL, NULL, NULL, "default.jpg", #{chara.id}, 0, 0,
            NOW(), NULL, 0, NULL
            )
    </insert>
    <insert id="deleteUserById">
        DELETE FROM user WHERE id = #{id}
    </insert>
    <select id="getUserById" resultMap="userMap">
        SELECT id, username, email, passwd, salt,
               phone, job_type, job_location, personal_signal,
               picture, chara_id, score, today_score, create_time,
               last_login_time, is_disabled, other
        FROM user WHERE id = #{id}
    </select>
    <select id="getUserByUsername" resultMap="userMap">
        SELECT id, username, email, passwd, salt,
               phone, job_type, job_location, personal_signal,
               picture, chara_id, score, today_score, create_time,
               last_login_time, is_disabled, other
        FROM user WHERE username = #{username}
    </select>
    <select id="getUserByEmail" resultMap="userMap">
        SELECT id, username, email, passwd, salt,
               phone, job_type, job_location, personal_signal,
               picture, chara_id, score, today_score, create_time,
               last_login_time, is_disabled, other
        FROM user WHERE email = #{email}
    </select>
    <update id="updateLastLoginTime">
        UPDATE user
        SET last_login_time = NOW()
        WHERE id = #{id}
    </update>
    <update id="updateDailyScore">
        UPDATE user
        SET score = #{score},
            today_score = #{todayScore}
        WHERE id = #{id}
    </update>
    <update id="updateUsername">
        UPDATE user
        SET username = #{username}
        WHERE id = #{id}
    </update>
    <update id="updateEmail">
        UPDATE user
        SET email = #{email}
        WHERE id = #{id}
    </update>
    <update id="updatePhone">
        UPDATE user
        SET phone = #{phone}
        WHERE id = #{id}
    </update>
    <update id="updateJobType">
        UPDATE user
        SET job_type = #{jobType}
        WHERE id = #{id}
    </update>
    <update id="updateJobLocation">
        UPDATE user
        SET job_location = #{jobLocation}
        WHERE id = #{id}
    </update>
    <update id="updatePersonalSignal">
        UPDATE user
        SET personal_signal = #{personalSignal}
        WHERE id = #{id}
    </update>
    <update id="updatePicture">
        UPDATE user
        SET picture = #{picture}
        WHERE id = #{id}
    </update>

    <resultMap id="userMap" type="user">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="passwd" property="passwd"/>
        <result column="salt" property="salt"/>
        <result column="phone" property="phone"/>
        <result column="job_type" property="jobType"/>
        <result column="job_location" property="jobLocation"/>
        <result column="personal_signal" property="personalSignal"/>
        <result column="picture" property="picture"/>
        <result column="score" property="score"/>
        <result column="today_score" property="todayScore"/>
        <result column="create_time" property="createTime"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="is_disabled" property="disabled"/>
        <result column="other" property="other"/>
        <association column="chara_id" property="chara"
                     javaType="chara"
                     select="top.thesky341.bbsforum.mapper.CharaMapper.getCharaById"/>
    </resultMap>
</mapper>