<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.thesky341.bbsforum.mapper.UserPostStateMapper">
    <delete id="deleteUserPostStateById">
        DELETE FROM user_post_state
        WHERE id = #{id}
    </delete>
    <select id="getUserPostStateById" resultMap="userPostStateMap">
        SELECT *
        FROM user_post_state
        WHERE id = #{id}
    </select>
    <select id="getUserPostStateSum" resultType="integer">
        SELECT COUNT(*)
        FROM user_post_state
        WHERE post_id = #{postId} AND state = #{state}
        <if test="userId != -1">
            AND user_id = #{userId}
        </if>
    </select>
    <insert id="addUserPostState" parameterType="userPostState" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_post_state VALUE (
            NULL, #{user.id}, #{post.id}, #{state}
            )
    </insert>
    <select id="getUserPostStateByPostIdAndUserIdAndState" resultMap="userPostStateMap">
        SELECT *
        FROM user_post_state
        WHERE post_id = #{postId} AND user_id = #{userId} AND state = #{state}
    </select>

    <resultMap id="userPostStateMap" type="userPostState">
        <id column="id" property="id"/>
        <result column="state" property="state"/>
        <association column="user_id" property="user"
                     javaType="user"
                     select="top.thesky341.bbsforum.mapper.UserMapper.getUserById"
        />
        <association column="post_id" property="post"
                     javaType="post"
                     select="top.thesky341.bbsforum.mapper.PostMapper.getPostById"
        />
    </resultMap>
</mapper>