.btn-add-newpost{
	display: inline-block;
	position: fixed;
	z-index: 7;
	right: 15px;
    .tt-icon{
    	transition: fill $speed linear;
    	fill:#ffffff;
        svg{
        	width: 40px;
        	height: 40px;

        }
        &:hover{
        	fill:$default_color2;
        }
    }
    @media (min-width: 1283px){
    	top: 14px;
    }
    @media (max-width: 1282px){
    	bottom: 20px;
    }
}